<footer class="probation-common-fallback-footer govuk-!-display-none-print" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      </div>
    </div>
  </div>
</footer>
