name: Test, lint & publish package to NPM

# run testing and linting pipeline…
on:
  # on pull requests
  pull_request:
  # when main branch is updated
  push:
    branches:
      - main
  # when a release is published
  release:
    types: [published]
  # and manually
  workflow_dispatch:

# cancel builds when PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22]
    needs: lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: npm install
      - name: Test build step
        run: npm run build
      - name: Run unit tests
        run: npm test

  lint:
    name: Run linting checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: Install dependencies
        run: npm install
      - name: Clean build step
        run: npm run clean
      - name: Test build step
        run: npm run build
      - name: Run linting checks
        run: npm run lint

  publish:
    name: Publish package
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    needs:
      - test
      - lint
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup node with public npmjs.com registry
        uses: actions/setup-node@v5
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
          scope: '@ministryofjustice'
      - name: Install dependencies
        run: npm install
      - name: Build all packages
        run: |
          npm run clean
          npm run build
      - name: Publish new versions of packages
        run: |
          root_path=$(pwd)
          name=$(jq -r .name package.json)

          if latest_version=$(npm view "@ministryofjustice/hmpps-probation-frontend-components" version --silent 2>/dev/null); then
            :
          else
            latest_version="unpublished"
          fi
          version=$(jq -r .version package.json)

          if [ "$version" == "$latest_version" ]; then
            echo "package ${name} has already published latest version: ${version}, skipping..."

          else
            echo "→ Existing published version is ${latest_version}, publishing version ${version} of ${name}…"

            echo "→ Building package ${name}"

            echo "→ Publishing package ${name} v${version} to npmjs.com"
            npm publish --provenance --access public
          fi
        env:
          GH_TOKEN: ${{ github.token }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}